@import "tailwindcss";
@plugin "daisyui";

@keyframes shimmer {
  0% { transform: translateX(-100%) skewX(-12deg); }
  100% { transform: translateX(100%) skewX(-12deg); }
}


 @keyframes runningLight {
  0% {
    transform: translateY(-180px);
  }

  100% {
    transform: translateY(calc(100% + 180px));
  }
}

@keyframes runningLightReverse {
  0% {
    transform: translateY(calc(100% + 180px));
  }

  100% {
    transform: translateY(-180px);
  }
}

.animate-running-light {
  animation: runningLight 3s linear infinite;
}

.animate-running-light-reverse {
  animation: runningLightReverse 3s linear infinite;
}


 
